@charset "UTF-8";
html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  word-break: normal;
}

*,
:after,
:before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

:after,
:before {
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  margin: 0;
  padding: 0;
}

hr {
  color: inherit;
  height: 0;
  overflow: visible;
}

details,
main {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 80%;
}

[hidden] {
  display: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline-width: 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

pre {
  font-size: 1em;
}

b,
strong {
  font-weight: bolder;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  text-indent: 0;
}

iframe {
  border-style: none;
}

input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

optgroup {
  font-weight: 700;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[role=button],
[type=button],
[type=reset],
[type=submit],
button {
  cursor: pointer;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
}

[disabled] {
  cursor: default;
}

img {
  border-style: none;
}

progress {
  vertical-align: baseline;
}

[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled=true] {
  cursor: default;
}

/* =============================================
    タグ共通
============================================= */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

.container {
  max-width: 390px;
  border: 1px solid blue;
  margin: 0 auto;
  overflow: hidden;
}

button {
  margin: 24px 0 32px;
}

.questions {
  padding: 0 25px;
  text-align: center;
  background: rgba(62, 62, 62, 0.5);
  font-family: "Kiwi Maru", serif;
  font-weight: 500;
  color: #333;
  position: relative;
}
.questions::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 58px 390px;
  border-color: transparent transparent #fff transparent;
}
.questions h2 {
  line-height: 32px;
}
.questions h2 img {
  width: 358px;
  padding: 34px 0 18px;
}
.questions p {
  text-align: left;
  font-size: 1.4rem;
  padding-bottom: 23px;
}
.questions-text {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  position: relative;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.questions-text::before {
  position: absolute;
  content: url("../img/線.png");
  display: block;
  top: 8px;
  left: 6px;
  transform: scale(0.55);
}
.questions-text-image {
  height: 52.27px;
  position: relative;
}
.questions-text-image img {
  position: absolute;
}
.questions-text-image img:nth-of-type(1) {
  width: 76px;
  top: -15px;
  left: 2px;
  z-index: 10;
}
.questions-text-image img:nth-of-type(2) {
  top: -45px;
  left: 50px;
  width: 153px;
}
.questions-text span {
  color: #b90000;
}
.questions-text .later {
  position: absolute;
  top: 100px;
  left: 60px;
}
.questions-text .later,
.questions-text .caution {
  font-size: 0.8rem;
  line-height: 14px;
  padding-bottom: 97px;
}
.questions-text .magazine {
  position: absolute;
  width: 169.353px;
  top: 5px;
  right: -50px;
  transform: rotate(13.159deg);
}

.self-introduction {
  position: relative;
  padding: 50px 25px 0;
  color: #000;
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 28px;
  font-family: "Inter", sans-serif;
}
.self-introduction .sec-title {
  color: #445192;
  font-family: "Odibee Sans";
  opacity: 0.5;
  font-size: 3rem;
  transform: rotate(-9.466deg);
  font-weight: 400;
  position: absolute;
  top: -10px;
  left: 35px;
}
.self-introduction .sec-title-img {
  width: 199px;
  position: absolute;
  top: -53px;
  right: 16px;
}
.self-introduction .profile {
  position: relative;
  color: #000;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
}
.self-introduction .profile h3 {
  font-size: 2.1rem;
  line-height: 28px;
  margin-bottom: 13px;
}
.self-introduction .profile h4 {
  font-size: 1.8rem;
  line-height: 24px;
  margin-bottom: 16px;
  position: relative;
}
.self-introduction .profile h4::after {
  position: absolute;
  content: url("../img/線.png");
  display: block;
  top: 10px;
  left: -60px;
  transform: scale(0.5);
}
.self-introduction .profile .ryouga {
  position: absolute;
  top: -55px;
  right: 0;
  width: 162px;
  height: 162px;
}
.self-introduction .profile-text {
  padding: 22px;
  font-size: 1.4rem;
  line-height: 24px;
  background: rgba(68, 81, 146, 0.537254902);
}
.self-introduction .profile-text p:first-of-type {
  padding-bottom: 8px;
}
.self-introduction .profile .sub-text {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  padding: 11px 0 24px;
}
.self-introduction .profile .sub-text span {
  color: #ec6872;
}

.trigger {
  text-align: center;
  background: #fdfdfd;
  padding: 0 23px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.trigger .wrapper {
  border: 2px solid #445192;
}
.trigger h2 {
  color: #445192;
  opacity: 0.5;
  font-size: 2.8rem;
  line-height: 28px;
  padding: 32px 0 24px;
}
.trigger .readmore {
  padding: 0 23px;
  position: relative;
  text-align: left;
  font-size: 1.2rem;
  line-height: 20px;
}
.trigger .readmore-content {
  position: relative;
  height: 380px;
  overflow: hidden;
  padding-bottom: 70px;
}
.trigger .readmore-content p {
  padding-bottom: 20px;
}
.trigger label {
  position: absolute;
  display: table;
  left: 50%;
  bottom: 0;
  margin: 0 auto;
  width: 294px;
  padding: 18px 0;
  text-align: center;
  background: linear-gradient(90deg, #f49797 0%, #ffd4d4 100%);
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 1;
  color: #fff6ff;
  font-family: "Zen Kaku Gothic New";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 20px;
}
.trigger label::before {
  content: "＋　続きを読む";
}
.trigger input[type=checkbox]:checked ~ label::before {
  content: "－　隠す";
}
.trigger input[type=checkbox] {
  display: none;
}
.trigger input[type=checkbox]:checked ~ .readmore-content {
  height: auto;
}

.problem {
  color: #000;
  font-family: Inter;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}
.problem-image {
  margin-bottom: 90px;
}
.problem button {
  margin: 48px 0 48px;
}
.problem h2 {
  font-family: "Kiwi Maru";
  font-style: normal;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 24px;
  padding: 28px 0 27px;
  background: rgba(94, 49, 49, 0.5);
}
.problem .wrapper {
  background: #5d6385;
  padding: 23px 21px 0;
}
.problem .wrapper .problem-image-list li {
  position: relative;
  margin-bottom: 105px;
}
.problem .wrapper .problem-image-list li:nth-of-type(2) {
  margin-bottom: 120px;
}
.problem .wrapper .problem-image-list li:last-child {
  margin: 0;
}
.problem .wrapper .problem-image-list li .bubble_1 {
  position: absolute;
  top: -80px;
}
.problem .wrapper .problem-image-list li .bubble_2 {
  position: absolute;
  top: -90px;
}
.problem .wrapper .problem-image-list li .bubble_3 {
  position: absolute;
  top: -103px;
}
.problem .wrapper .text {
  padding: 24px 17px;
  background: rgba(255, 255, 255, 0.5764705882);
}
.problem .wrapper .text .color {
  color: #445192;
}
.problem .wrapper .text p {
  padding-bottom: 8px;
}
.problem .wrapper .text p:last-child {
  padding-bottom: 0;
}
.problem .cause {
  max-width: 390px;
  position: relative;
  background: #fff6ff;
}
.problem .cause::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 48px;
  border-top: 48px solid #5d6385;
  border-left: 195px solid transparent;
  border-right: 195px solid transparent;
  z-index: 20;
}
.problem .cause .wrapper {
  padding: 54px 21px 48px;
}
.problem .cause h2 {
  background: #333;
  color: #fff;
  font-size: 3.1rem;
  padding: 19px 0 21px;
}
.problem .cause-list li {
  padding: 38px 19px 24px;
  background: rgba(255, 255, 255, 0.5764705882);
  position: relative;
  margin-bottom: 70px;
}
.problem .cause-list li:last-child {
  margin-bottom: 0;
}
.problem .cause-list li .ribbon {
  position: absolute;
  color: #fff;
  height: 44px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-family: "Zen Kaku Gothic New";
  font-size: 1.9rem;
  box-sizing: border-box;
  line-height: 24px;
  z-index: 10;
  top: -11px;
  left: 0;
  right: 0;
}
.problem .cause-list li .ribbon-bg {
  position: absolute;
  top: -21px;
  left: 2px;
}
.problem .cause-list li img {
  margin-bottom: 16px;
}
.problem .cause-list li p {
  padding-bottom: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  font-style: normal;
  line-height: 22px;
}
.problem .cause-list li p span {
  font-size: 2rem;
}
.problem .cause-list li .center {
  text-align: center;
  font-size: 1.6rem;
}
.problem .cause-list li .red {
  font-size: 1.4rem;
  color: #8c3030;
}
.problem .cause-list li .blue {
  color: #445192;
  font-size: 1.4rem;
}

.book {
  padding-top: 100px;
  text-align: center;
  z-index: 100;
  height: 100%;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  background-image: url(../img/グラデーション背景.png);
}
.book h2 {
  font-size: 2.1rem;
}
.book h2 span {
  display: inline-block;
  font-size: 32px;
  color: #fff;
  background: #df4b92;
  padding: 5px 5px;
  line-height: 32px;
  margin-top: 8px;
}
.book-image {
  width: 526px;
  height: 374px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 34px 0;
}
.book .index {
  max-width: 348px;
  background: #fff;
  padding: 18px 17px;
  margin: 0 auto;
  color: #000;
  font-family: "Zen Maru Gothic";
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  border: 3px solid #df4b92;
}
.book .index h3 img {
  width: 198px;
  text-align: center;
  margin-bottom: 16px;
}
.book .index ul {
  font-weight: 700;
  font-size: 1.7rem;
  text-align: left;
}
.book .show {
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  padding: 16px 0 46px;
  color: #000;
  font-family: "Inter", sans-serif;
}
.book .show-text {
  padding: 0 21px;
}
.book .show-text li {
  text-align: left;
  background: #fff;
  padding: 16px 19px;
  color: #000;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 22px;
  position: relative;
  margin-bottom: 32px;
}
.book .show-text li:nth-of-type(1) .frame {
  width: 100%;
  height: 425px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.book .show-text li:nth-of-type(1) .book-1 {
  position: absolute;
  width: 54px;
  height: 76.689px;
  transform: rotate(-15deg);
  -o-object-fit: cover;
     object-fit: cover;
  top: 4px;
  left: -10px;
}
.book .show-text li:nth-of-type(1) .book-2 {
  position: absolute;
  width: 54px;
  height: 76.357px;
  transform: rotate(15deg);
  top: -6px;
  right: 0;
}
.book .show-text li:nth-of-type(2) .frame {
  position: absolute;
  width: 348px;
  height: 418px;
  top: -6px;
  left: 0;
  right: 0;
}
.book .show-text li:nth-of-type(2) .book-1 {
  position: absolute;
  width: 54px;
  height: 76.689px;
  transform: rotate(-15deg);
  top: 0px;
  left: -10px;
}
.book .show-text li:nth-of-type(2) .book-2 {
  position: absolute;
  width: 54px;
  height: 76.357px;
  transform: rotate(15deg);
  top: -3px;
  right: 0;
}
.book .show-text li:nth-of-type(3) h3 {
  line-height: 26px;
  padding: 11px 0 9px;
}
.book .show-text li:nth-of-type(3) .frame {
  position: absolute;
  width: 348px;
  height: 510px;
  top: 0;
  left: 0;
  right: 0;
}
.book .show-text li:nth-of-type(3) .book-1 {
  position: absolute;
  width: 54px;
  height: 76.689px;
  transform: rotate(-15deg);
  top: 15px;
  left: -10px;
}
.book .show-text li:nth-of-type(3) .book-2 {
  position: absolute;
  width: 97.632px;
  height: 54.947px;
  -o-object-fit: cover;
     object-fit: cover;
  transform: rotate(15deg);
  top: 68px;
  right: -10px;
}
.book .show-text li:nth-of-type(4) .frame {
  position: absolute;
  width: 348px;
  height: 423px;
  top: 0;
  left: 0;
  right: 0;
}
.book .show-text li:nth-of-type(4) .book-1 {
  position: absolute;
  width: 54px;
  height: 76.689px;
  transform: rotate(-15deg);
  top: 0;
  left: -10px;
}
.book .show-text li:nth-of-type(4) .book-2 {
  position: absolute;
  width: 54px;
  height: 76.357px;
  transform: rotate(15deg);
  top: 0;
  right: 0;
}
.book .show-text li:nth-of-type(5) {
  margin-bottom: 0;
}
.book .show-text li:nth-of-type(5) .frame {
  position: absolute;
  width: 348px;
  height: 570px;
  top: 0;
  left: 0;
  right: 0;
}
.book .show-text li:nth-of-type(5) .book-1 {
  position: absolute;
  width: 54px;
  height: 76.689px;
  transform: rotate(-15deg);
  top: 0;
  left: 0;
}
.book .show-text li:nth-of-type(5) .book-2 {
  position: absolute;
  width: 54px;
  height: 76.357px;
  transform: rotate(15deg);
  top: 0;
  right: 0;
}
.book .show-text li h3 {
  padding: 3px 0;
  text-align: center;
  font-size: 1.8rem;
  line-height: 32px;
  border: 2px solid #df4b92;
  background: #ffd4d4;
  margin-bottom: 24px;
  font-weight: 600;
}
.book .show-text li p {
  padding-bottom: 16px;
}
.book .show-text li .size {
  font-size: 1.8rem;
}
.book .show-text li .size-2 {
  font-size: 2rem;
}
.book .show-text li .pink {
  color: #df4b92;
}
.book .show-text li .blue {
  color: #445192;
}
.book .show-text li .num {
  font-family: "Inter", Zen Maru Gothic;
  font-size: 2.4rem;
}
.book button {
  width: 340px;
}
.book .limited {
  padding: 0 25px;
  text-align: left;
  color: #000;
  font-family: Inter;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  padding-bottom: 32px;
}
.book .limited .size {
  font-size: 3.2rem;
}
.book .bonus {
  padding: 0 25px;
}
.book .bonus .ribbon {
  width: 340px;
  padding-bottom: 16.3px;
}
.book .bonus .flex-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  position: relative;
}
.book .bonus .present {
  position: absolute;
  width: 184px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.book .bonus-text {
  margin-top: 23.5px;
  color: #000;
  font-family: Inter;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.book .bonus-text li {
  background: #fff;
  padding: 16px 15px;
  position: relative;
  margin-bottom: 24px;
}
.book .bonus-text li:last-child {
  margin-bottom: 0;
}
.book .bonus-text li:nth-of-type(1) img {
  width: 129px;
  top: -20px;
  left: -25px;
  position: absolute;
  z-index: 100;
}
.book .bonus-text li:nth-of-type(2) img {
  width: 129px;
  top: -5px;
  left: -25px;
  position: absolute;
  z-index: 100;
}
.book .bonus-text li:nth-of-type(3) img {
  width: 129px;
  top: 0px;
  left: -36px;
  position: absolute;
  z-index: 100;
  transform: rotate(15deg);
}
.book .bonus-text li:nth-of-type(4) img {
  width: 129px;
  top: -2px;
  left: -35px;
  position: absolute;
  z-index: 100;
  transform: rotate(15deg);
}
.book .bonus-text li h3 {
  border: 2px solid #df4b92;
  background: #ffd4d4;
  padding: 8px 0 8px 40px;
  position: relative;
  margin-bottom: 32px;
  font-size: 2.2rem;
}
.book .bonus-text li p {
  text-align: left;
  color: #000;
  font-family: Inter;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  padding-bottom: 16px;
}
.book .bonus-text li p .pink {
  color: #df4b92;
}
.book .bonus-text li:nth-of-type(1) h3::before {
  position: absolute;
  content: url("../img/icon_01.png");
  display: block;
  top: 1px;
  left: 66px;
  transform: scale(0.5);
}
.book .bonus-text li:nth-of-type(2) h3 {
  height: 48px;
}
.book .bonus-text li:nth-of-type(2) h3 img {
  width: 227px;
  position: absolute;
  top: 6px;
  left: 35px;
}
.book .bonus-text li:nth-of-type(3) h3::before {
  position: absolute;
  content: url("../img/icon_03.png");
  display: block;
  top: 1px;
  left: -3px;
  transform: scale(0.5);
}
.book .bonus-text li:nth-of-type(4) h3::before {
  position: absolute;
  content: url("../img/icon_04.png");
  display: block;
  top: 1px;
  left: 20px;
  transform: scale(0.5);
}
.book .bonus-text li .blue {
  color: #445192;
}
.book .bonus-text li .pink {
  color: #df4b92;
}
.book .bonus-text li .size {
  font-size: 1.7rem;
}

.voice {
  width: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  color: #000;
  padding: 0 21px;
}
.voice h2 {
  padding: 48px 0 24px;
  text-align: center;
  font-size: 2.4rem;
  line-height: 24px;
}
.voice-lists {
  margin: 0 auto;
}
.voice-lists .list {
  background: rgba(68, 81, 146, 0.5019607843);
  max-width: 348px;
  margin-bottom: 16px;
}
.voice-lists .list .flex-box {
  padding: 12px 16px;
  display: flex;
}
.voice-lists .list .flex-box h3 {
  font-size: 2.1rem;
  line-height: 24px;
}
.voice-lists .list .flex-box p {
  font-size: 1.4rem;
  line-height: 24px;
  padding: 5px 0;
}
.voice-lists .list .flex-box img {
  width: 100px;
  height: 100px;
  margin-right: 24px;
}
.voice-lists .voice-text-img {
  width: 100%;
}
.voice summary {
  display: block;
  position: relative;
  cursor: pointer;
}
.voice summary .btn {
  cursor: pointer;
  min-width: 150px;
  background: #445192;
  text-align: center;
  padding: 4px 0;
  font-size: 1.4rem;
  color: #fff;
  font-family: "Zen Kaku Gothic New";
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.QA {
  text-align: center;
  background: rgba(244, 151, 151, 0.5098039216);
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  padding: 0 21px;
  margin-bottom: 22px;
}
.QA h2 {
  padding: 24px 0 40px;
  color: #fff;
  font-family: "Kiwi Maru";
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
}
.QA .accordion-003 {
  margin: 0 auto 16px;
  position: relative;
  max-width: 348px;
  border: 2px solid #445192;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.QA .accordion-003 .toggle-btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 8%;
}
.QA .accordion-003 .toggle-btn::after, .QA .accordion-003 .toggle-btn::before {
  content: "";
  position: absolute;
  display: block;
  background: #445192;
  width: 24px;
  border-radius: 2px;
  height: 2.5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
}
.QA .accordion-003 .toggle-btn::before {
  width: 2.5px;
  height: 24px;
  visibility: visible;
  opacity: 1;
}
.QA .accordion-003 summary {
  max-width: 316px;
  text-align: left;
  display: block;
  position: relative;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}
.QA .accordion-003 p {
  display: block;
  max-width: 316px;
  padding: 0 16px;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out, opacity 1s ease-in-out; /* heightを使用して高さを変更 */
}
.QA .accordion-003 span {
  margin-right: 8px;
}
.QA .accordion-003 .answer {
  overflow: hidden;
}
.QA .accordion-003[open] p {
  max-height: 500px;
  width: 316px;
  font-size: 1.2rem;
  transform: none;
  opacity: 1;
  padding-bottom: 16px;
  font-weight: 500;
  opacity: 1;
  visibility: visible;
  /* 開くアニメーション */
  transition: line-height 0.3s ease-out, opacity 0.1s linear 0.1s, visibility 0.1s linear 0.1s;
}
.QA .accordion-003[open] {
  position: relative;
}
.QA .accordion-003[open] .toggle-btn {
  top: 50%;
  right: 8%;
  position: absolute;
}
.QA .accordion-003[open] .toggle-btn::after {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.QA .accordion-003[open] .toggle-btn::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

@font-face {
  font-family: "SeoulHangang CEB";
  src: url("../fonts/SeoulHangang CEB Regular.ttf") format("truetype");
}
.ps {
  padding: 0 21px;
  background: #445192;
  color: #fff;
  font-family: "SeoulHangang CEB";
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.ps h2 {
  font-weight: 400;
  font-style: normal;
  width: 38px;
  font-size: 3.2rem;
  padding: 8px 0 16px;
}
.ps .letter {
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  padding: 0 43px;
}
.ps .letter p {
  padding-bottom: 24px;
}
.ps .from {
  color: #fff;
  text-align: right;
  font-family: "SeoulHangang CEB";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-right: 23px;
}
/*# sourceMappingURL=style.css.map */