@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
}
@font-face {
    font-family: "Kiwi Maru";
    src: url("../fonts/KiwiMaru-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Odibee Sans";
    src: url("../fonts/OdibeeSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Zen Kaku Gothic New";
    src: url("../fonts/ZenKakuGothicNew-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Zen Maru Gothic";
    src: url("../fonts/ZenMaruGothic-Regular.ttf") format("truetype");
}
